<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="colorpicker/css/colorpicker.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular-animate.min.js"></script>
    <script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
    <script src="colorpicker/js/eye.js"></script>
    <script src="colorpicker/js/colorpicker.js"></script>
    <script src="colorpicker/js/utils.js"></script>
    <script src="colorpicker/js/layout.js"></script>
    <script src="SharedCanvas.js"></script>
    <script src="FormationsPanelController.js"></script>
    <script src="PositionsPanelController.js"></script>
    <script src="uploader.js"></script>
    <script src="Position.js"></script>
    <script src="Marker.js"></script>
    <script src="CanvasState.js"></script>
    <script src="ConfigurationController.js"></script>
    <script src="ContentController.js"></script>
    <script src="utilities.js"></script>
    <script src="jui.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="sidebar" ng-controller="FormationsPanelController" ng-init="initFormations()" ng-mouseup="stopDragging($event)" ng-mousemove="mouseMove($event)">
        <div id="formationsHeader" class="sidebarHeader">
          <span class="sidebarTitle">Formations</span>
        </div>
        <div ng-repeat="form in getFormationList() track by $index" style="display : inline-flex; vertical-align:middle;">
          <div ng-class='getClass(form)' ng-style="getFormationStyle($index)" ng-click="selectFormation($index)" ng-dblclick="startEditing(form)" ng-mousedown="startDragging($index,$event)" class="entry">
            <span ng-hide="form.editing">{{form.name}}</span>
            <form ng-submit="doneEditing(form)" ng-show="form.editing">
                <input ng-model="form.name" ng-blur="doneEditing(form)" ng-focus="form == editedItem" class="editName">
            </form>
            <br>
            <div class='countDragger'>Counts: {{form.counts}}</div>
            <br>
          </div>
          <button class="" ng-click="deleteFormation($index)" ng-show="form.type=='formation'">-</button>
        </div>
        <button id='addIntermediate' ng-click='addIntermediate()' ng-show="canAddIntermediate()" ng-style="intermediateAddStyle()">   +   </button>
        <div id='buttonContainer'>
          <button class='addButton' ng-click='addFormation()'>   +   </button>
        </div>
      </div>
      <div id="header"></div>
      <div id="content" ng-controller="ContentController" ng-init="initContent()" ng-style="getBackgroundStyle()">
        <canvas id="canvas" width="600" height="480" ng-mousedown="mouseDown($event)" ng-mouseUp="mouseUp($event)" ng-mousemove="mouseMove($event)" ng-dblclick="doubleClick($event)" ng-right-click="showDropdown($event)" ng-click="closeDropdown()"> Canvases are not supported in your browser</canvas>
        <br>
        <div class="progressContainer">
          <div ng-repeat="form in getFormationList() track by $index" jui:progressbar opt:value="getValue($index)" ng-style="getStyle($index)" ng-click="clickedTimeline($index)">
          </div>
        </div>
        <br>
        <button id='play' class="ui-corner-bottom" ng-hide="playing" ng-click="pressPlay()"></button>
        <button id='pause' ng-show="playing" ng-click="pressPause()"></button>
        <div id="configurationContainer" ng-controller="ConfigurationController">
          <form action=""> 
            <input type="checkbox" ng-click="toggleAdd()" ng-model="doubleClickAdd">Double click to add positions<br>
          </form>
        </div>
        <div id="importExportContainer" ng-controller="UploadController">
          <input id='import' type="file" ng-file-select="importFormations($files)"></input>
          <button id='export' ng-click="exportFormations()">Export</button>
          <br>
          <!-- <button id='downloadVideo' ng-click="downloadVideo()">Download Video</button> -->
        </div>

        <div ng-include src="'mouseDropdown.tpl.html'"></div>
      </div>
      <div id="rightSidebar" ng-controller="PositionsPanelController">
        <div id="positionsHeader" class="sidebarHeader">
          <span class="sidebarTitle">Positions</span> <br>
          <span> (double click in canvas to create more) </span>
        </div>
        <div ng-repeat="pos in getPositionList()" class="posEntry" ng-style="getStyle($index)" ng-dblclick="startEditing(pos)" ng-click="tappedPosition($index, $event)" ng-right-click="addExistingPosition($index, $event)" colorpicker>
          <span class="posLabel" ng-hide="pos.editing">{{pos.label}}</span>
          <form class="posLabel" ng-submit="doneEditing(pos, $index)" ng-show="pos.editing">
              <input ng-model="pos.label" ng-blur="doneEditing(pos, $index)" ng-focus="pos == editedItem" style="width:35px;"/>
          </form>
        </div>
      </div>
      <div id="footer"></div>
    </div> 
  </body>
</html>