.container { position:relative; padding:0 0 0 55px; width:100%;}

#sidebar {
    position:absolute;
    top: 30px; left:0;
    width: 250px;
    height:720px;
     overflow:auto;
}

#rightSidebar {
    position:absolute;
    top: 30px; left:1000px;
    width: 250px;
}

#header { 
	position:absolute;
	top:0; left:0;
	width:1250px; height:30px; 
	background: #9FA0A2;
}

#content { 
	position:absolute;
	top: 30px;  left: 250px;
	width:750px; height:720px;
	text-align: center;
}

#play {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: -5px;
}

#pause {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: -5px;
}

#import {
	border: dashed 3px #CBCBCB;
	text-align: center;
	padding: 20px;
}

.formationEntry {
	background: #DEDFE2;
	width: 180px;
	display: inline-block;
}

.transitionEntry {
	background: #717173;
	width: 180px;
}

.removeButton {
	display: inline-block;
	height: 10%;
	top: 50px;
}

#addIntermediate {
	width:40px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#canvas {
  background:#FFF;
  display: inline-block;
}

.selected {
	width:240px;
}

.progressContainer {
	width: 600px;
	height: 30px;
	clear:both;
  	display:inline-block;
}

.entry {
	font-family: "Lucida Sans Unicode";
  	padding-left: 10px;
  	padding-top: 10px;
	border-radius:2em;
}

.editName {
	font-family: "Lucida Sans Unicode";
	font-size: 16px;
	line-height: 16px;
	height:20px;
	background-color: transparent;
	border: none;
}

.entry-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.entry-enter.entry-enter-active {
	opacity: 1;
}

.selected {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.formationEntry {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.posEntry {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 10px;
    border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.posLabel {
	font-family: "Arial";
	font-size: 18px;
}

.sidebarHeader {
	background-color: #9FA0A2;
	text-align: center;
}

.sidebarTitle {
	font-family: "Arial";
	font-size: 22px;
}

.countDragger {
	width:100%;
	height:40px;
	position: relative;
	bottom: 0px;
}

.dropdownList { 
	list-style-type:none;
	margin: 0; padding: 0;
}

.dropdownEntry {
	width: 150px;
	border-width: 1px;
	border-color: black;
	border-style: solid;;
}

.timelineTag {
	background-color: #ABABAB;
	width:120px;
	height: 43px;
	
}

.backgroundimg {
	position: absolute;
	width:120px;
	height: 43px;
	z-index: 99;
}